<p>
  Are you from a cold weather city, German or just generally spiteful. Our new schadenfreude feature let's you compare weather between two locations, for example Miami, FL and Minneapolis, MN in January, to make you feel better (or worse) about yourself. Read more about <a href="https://en.wikipedia.org/wiki/Schadenfreude">schadenfreude on wikipedia</a>.
</p>

<%=render partial: "form" %>
