<p style="text-align: left;">
  Minnesota Weather in December of 2013 as a tongue in cheek Facebook page about how Minnesotans are overly dependent upon talking about the weather as a source of conversation. It has been evolving since that time, with a focus on weather and Minnesota related humor. The Minnesota Weather app was built mostly for fun, but also hopes of bringing the platform to a large audience, while keeping with the original strategy focusing talking weather.
</p>

<p style="text-align: left;">
  In March, 2015, the application was upgraded to become community oriented, allowing users to submit their own phrases and humor about the weather along with voting on phrases.
</p>

<hr />
