<p>We continued down the development roadmap for Minnesota Weather with the beta release of some new features this weekend. You can now share the current conditions you looked up on Facebook, vote on and submit your own phrases and images and be rewarded for engaging in the Minnesota Weather community.</p>

<h2>Better Facebook Sharing</h2>
<p>If you think a phrase and image for the current conditions is to accurate or hilarious not to share with your friends, you're in luck. There are now Facebook social icons on bottom of the condition page which share your conditions along with the image and phrase on the page.</p>

<h2>Creating your own phrases</h2>
<p>Think you can do better than what you see? Click the "Add a phrase for conditions" link at the bottom of the conditions page and add your own phrase.  You can also add a phrase anytime for any conditions by going to the <%=link_to_or_siginin("new phrase page", new_phrase_path)%>. Your phrase will then be presented to our community when the conditions are right!</p>

<h2>Voting on phrases</h2>
<p>Think a phrase is great? Reward the submitter with a like! Think a phrase is terrible? Punish the submitter with a dislike!</p>

<h2>Reputation System</h2>
<p>You can now receive points and badges by being engaged in the Minnesota weather community. The badges show up on your profile and your submitted images. Read a detailed breakdown of the <%=link_to "reputation system", reputation_path%>.
<hr />
