<h2>Privacy Policy</h2>
<p>This app uses the Facebook platform as a convenient way for users to log in without having to remember another username and password.</p>

<p>While Facebook makes some of your basic information available when you use an app, <strong>Minnesota Weather does not store or share any of your personal information.</strong>  You and your friends will not recieve any notifications, invites, or emails because you use the application, without your approval.</p>

<hr />
