<h1>Phrase Tips</h1>
<p>
  <%=app_name%> uses four classification of the current conditions to choose a phrase. Conditions, Temperature, Season and Time Period. We use the following formula to find a phrase and try and increase randomness a bit: 60% of the time we match exactly on condition and temperature, 20% of the time we match on condition only (temperature: Any) and 20% of the time we match on temperature only (condition: Any). If we don't find a phrase, we choose one of our default phrases (Temperature, Condition, Season: Any).</p>

<p>
  A more precise phrase will show up three times more than a non-precise phrase. However, if you choose the 'Any' category for Temperature or Condition, you might show up for more conditions. Just make sure your phrase applies correctly otherwise you might get down votes!
</p>

<p>
  Check back for more tips as we grow the community and our formula gets more precise!
</p>
<hr />
