<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="The Minnesota Weather app provides the current weather, a (debately) funny response and a condition specific image. Try it out and share it with your friends!">

    <meta name="keywords" content="Weather,Humor,Funny,Conditions,Cold,Minnesota,UffDa">
    <meta name="author" content="David EH Peterson">
    <meta name="format-detection" content="telephone=no" />
    <meta property="og:image" content="http://mnweather.tandemdd.com/conditions/mn_weather_app.png" />
    <meta property="og:title" content="Minnesota Weather app" />
    <meta property="og:type" content="website" />    
    <meta property="og:description" content="The Minnesota Weather app provides the current weather, a (debately) funny response and a condition specific image. Try it out and share it with your friends!" />
    <meta property="og:url" content="http://mnweather.tandemdd.com/" /> 
    <meta property="fb:admins" content="13900152" /> 
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />

    <title>MN Weather</title>
  </head>
  <body style="text-align: center; ui-mobile-viewport;">

  <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1398941253693647";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <div data-role="page" id="home">
      <div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
        <a class="ui-btn-left ui-btn ui-btn-icon-notext ui-icon-home ui-btn-corner-all ui-shadow" title=" Home " data-form="ui-icon" href="#home"> Home </a>
        <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Minnesota Weather</h1>
        <a class="ui-btn-right ui-btn ui-btn-icon-notext ui-icon-grid ui-btn-corner-all ui-shadow" title=" Navigation " data-form="ui-icon" href="#nav"> Navigation </a>
      </div>

      <div data-role="main" class="ui-content">
        <input type="text" name="textinput-location" id="textinput-location" placeholder="Enter your location (e.g. City, ST)" value="">
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <a class="ui-btn ui-icon-action ui-btn-icon-left show-page-loading-msg" id="get_weather">Get Weather</a>
          </div>
          <div class="ui-block-b">
            <a href="#" class="ui-btn ui-icon-navigation ui-btn-icon-left show-page-loading-msg" id="my_location">My Location</a>
          </div>
        </div>
      
        <div id="conditions" class="content-container">
          <h1 id="location">Minneapolis</h1>
          <p id="temp"><span id="value">-40</span>&deg;</p>
          <p id="condition">Nobody likes a default of Cupertino, but we hope the real conditions are better than this...</p>
          <div class="fb-like" data-href="http://mnweather.tandemdd.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
      </div>

    <div data-role="footer" data-position="fixed">
      &copy; 2014, <a href="https://www.facebook.com/MNWeather" rel="external">Minnesota Weather</a>
    </div>

  </div>
  <div data-role="page" id="nav">
    <div class="ui-header ui-bar-a" data-swatch="a" data-theme="a" data-form="ui-bar-a" data-role="header" role="banner">
      <a class="ui-btn-left ui-btn ui-btn-icon-notext ui-icon-home ui-btn-corner-all ui-shadow" title=" Home " data-form="ui-icon" href="#home"> Home </a>
      <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Minnesota Weather</h1>
      <a class="ui-btn-right ui-btn ui-btn-icon-notext ui-icon-grid ui-btn-corner-all ui-shadow" title=" Navigation " data-form="ui-icon" href="#nav"> Navigation </a>
    </div>
  
    <div data-role="main" class="ui-content">
      <ul data-role="listview" data-inset="true" class="ui-icon-alt">
          <li><a href="about.html" data-rel="dialog">About</a></li>
          <li><a href="https://www.facebook.com/MNWeather">Our Facebook Page</a></li>
          <li><a href="https://docs.google.com/document/d/1eyJCJvAAbhX_dtloTAjQD0eiw3V_gWWTj-HZs6Btq9U/edit">Future development (Google doc)</a></li>
          <li><a href="https://github.com/pete2786/mn_weather_api">Source code on Github</a></li>
      </ul>
    </div>

    <div data-role="footer" data-position="fixed">
      &copy; 2014, <a href="https://www.facebook.com/MNWeather" rel="external">Minnesota Weather</a>
    </div>
    <div id="loading">

    </div>
  </div>
  <script type="text/javascript" src="phonegap.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
